/.vs
/Calendar.Models/bin
/Calendar.Models/obj
/Calendar.WebService/bin
/Calendar.WebService/obj
/Calendar.DesktopClient/bin
/Calendar.DesktopClient/obj
/Calendar.DesktopClient/*.user
/Calendar.Tests/bin
/Calendar.Tests/obj
/Calendar.DataModels/bin
/Calendar.DataModels/obj
